# Introducción a Series Temporales

In [1]:
# importación de paquetes
import pandas as pd
import numpy as np

In [3]:
# loading data...
rawCsvData = pd.read_csv("../../DataSets/Index2018.csv")

In [4]:
# Observaciones y variables
rawCsvData.shape

(6269, 5)

In [5]:
#  Visualización de la data
rawCsvData.head()

         date     spx      dax     ftse    nikkei
0  07/01/1994  469.90  2224.95  3445.98  18124.01
1  10/01/1994  475.27  2225.00  3440.58  18443.44
2  11/01/1994  474.13  2228.10  3413.77  18485.25
3  12/01/1994  474.17  2182.06  3372.02  18793.88
4  13/01/1994  472.47  2142.37  3360.01  18577.26

In [7]:
# Hacemos una copia de la data para hacer algunas transformaciones
dfComp = rawCsvData.copy()

In [8]:
# Veamos si se copio correctamente
dfComp.head(5)

         date     spx      dax     ftse    nikkei
0  07/01/1994  469.90  2224.95  3445.98  18124.01
1  10/01/1994  475.27  2225.00  3440.58  18443.44
2  11/01/1994  474.13  2228.10  3413.77  18485.25
3  12/01/1994  474.17  2182.06  3372.02  18793.88
4  13/01/1994  472.47  2142.37  3360.01  18577.26

#### Spx(500):  Bolsa de Extados Unidos
#### Dax(): Bolsa Alemana 
#### ftse(): Bolsa de Londres
#### nikkei(): Bolsa de Japón

##### Precios de cierre en cada uno de esos días

In [10]:
# Veamos si nuestra lista de data set tiene datos no disponibles
dfComp.isna().sum()

date      0
spx       0
dax       0
ftse      0
nikkei    0
dtype: int64

In [13]:
# si me interesa ver na`s en una columna en particular

dfComp.spx.isna().sum()

0

In [11]:
# Una descripción general de los datos
dfComp.describe()

               spx           dax         ftse        nikkei
count  6269.000000   6269.000000  6269.000000   6269.000000
mean   1288.127542   6080.063363  5422.713545  14597.055700
std     487.586473   2754.361032  1145.572428   4043.122953
min     438.920000   1911.700000  2876.600000   7054.980000
25%     990.671905   4069.350000  4486.100000  10709.290000
50%    1233.420000   5773.340000  5662.430000  15028.170000
75%    1459.987747   7443.070000  6304.250000  17860.470000
max    2872.867839  13559.600000  7778.637689  24124.150000

#### Obs: Diferencias de magnitud de cada serie de tiempo