# ARCHSIMPLE

## Importing relevant  packages

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.graphics.tsaplots as sgt
import statsmodels.tsa.stattools as sts
from statsmodels.tsa.arima_model import ARIMA
from scipy.stats.distributions import chi2
from math import sqrt
import seaborn as sns
sns.set()

## Importing Data and Pre-processing

In [3]:
raw_csv_data = pd.read_csv("../../DataSets/Index2018.csv")
df_comp = raw_csv_data.copy()
df_comp.date = pd.to_datetime(df_comp.date, dayfirst = True)
df_comp.set_index("date", inplace = True)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\sept\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-3-4ecfcadd67ab>", line 1, in <module>
    raw_csv_data = pd.read_csv("../../DataSets/Index2018.csv")
NameError: name 'pd' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\sept\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\sept\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\sept\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\sept\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\sept\anaconda3\lib\inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\sept\anaconda3\lib\inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Users\sept\anaconda3\lib\inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\Users\sept\anaconda3\lib\inspect.py", line 751, in getmodule
    f = getabsfile(module)
  File "C:\Users\sept\anaconda3\lib\inspect.py", line 720, in getabsfile
    _filename = getsourcefile(object) or getfile(object)
  File "C:\Users\sept\anaconda3\lib\inspect.py", line 705, in getsourcefile
    if os.path.exists(filename):
  File "C:\Users\sept\anaconda3\lib\genericpath.py", line 19, in exists
    os.stat(path)
KeyboardInterrupt

TypeError: object of type 'NoneType' has no len()

In [71]:
df_comp.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26

In [72]:
df_comp.shape

(6269, 4)

In [4]:
df_comp = df_comp.asfreq('b')

In [5]:
df_comp.isna().sum()

spx       8
dax       8
ftse      8
nikkei    8
dtype: int64

In [6]:
df_comp = df_comp.fillna(method = 'ffill')
df_comp.isna().sum()

spx       0
dax       0
ftse      0
nikkei    0
dtype: int64

In [7]:
# Creamos una nueva variabale (una copia de ftse)

df_comp['market_value'] = df_comp.ftse
df_comp.head()

               spx      dax     ftse    nikkei  market_value
date
1994-01-07  469.90  2224.95  3445.98  18124.01       3445.98
1994-01-10  475.27  2225.00  3440.58  18443.44       3440.58
1994-01-11  474.13  2228.10  3413.77  18485.25       3413.77
1994-01-12  474.17  2182.06  3372.02  18793.88       3372.02
1994-01-13  472.47  2142.37  3360.01  18577.26       3360.01

In [8]:
import warnings
warnings.filterwarnings("ignore")

In [66]:
# del df_comp['spx']
#del df_comp['dax']
#del df_comp['ftse']
#del df_comp['nikkei']

In [9]:
# splitting data set
size = int(len(df_comp)*0.8)
df, df_test = df_comp.iloc[:size], df_comp.iloc[size:]

### LLR TEST

In [10]:
def LLR_test(mod_1,mod_2, DF = 1):
    L1 = mod_1.llf
    L2 = mod_2.llf
    LR = (2*(L2-L1))
    p  = chi2.sf(LR, DF).round(3)
    return p

## Creating Return from 'ftse' values

In [30]:
df['returns'] = df.market_value.pct_change(1)*100
df.head()

            market_value   returns
date
1994-01-07       3445.98       NaN
1994-01-10       3440.58 -0.156704
1994-01-11       3413.77 -0.779229
1994-01-12       3372.02 -1.222988
1994-01-13       3360.01 -0.356166

## ARCH

In [1]:
!pip install arch

Collecting arch
  Downloading arch-5.1.0-cp38-cp38-win_amd64.whl (849 kB)
Collecting property-cached>=1.6.4
  Downloading property_cached-1.6.4-py2.py3-none-any.whl (7.8 kB)
Requirement already satisfied: scipy>=1.3 in c:\users\sept\anaconda3\lib\site-packages (from arch) (1.6.2)
Requirement already satisfied: pandas>=1.0 in c:\users\sept\anaconda3\lib\site-packages (from arch) (1.2.4)
Requirement already satisfied: statsmodels>=0.11 in c:\users\sept\anaconda3\lib\site-packages (from arch) (0.12.2)
Requirement already satisfied: numpy>=1.17 in c:\users\sept\anaconda3\lib\site-packages (from arch) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\sept\anaconda3\lib\site-packages (from pandas>=1.0->arch) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sept\anaconda3\lib\site-packages (from pandas>=1.0->arch) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\sept\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.0->arch) (1.15.0)
Requirement already satisfied: patsy>=0.5 in c:\users\sept\anaconda3\lib\site-packages (from statsmodels>=0.11->arch) (0.5.1)
Installing collected packages: property-cached, arch
Successfully installed arch-5.1.0 property-cached-1.6.4

In [2]:
from arch import arch_model

In [ ]:
model_arch_1 = arch_model(df.returns[1:])
results_arch_1 = model_arch_1.fit()
results_arch_1 = model_arch_1.fit(update_freq = 5)
results_arch_1.summary()